header{
    background-image: url(../img/fondoCabecera.jpg);
    background-size: cover !important; 
}
body{
    background-color: #8fa26a;
}
.card-body{
    background-color: #33492b;
}
@font-face {

    font-family: FuenteArmas;
    
    src: url(../font/gunplay\ rg.otf);
    
}
.fuenteEspecial{
    font-family: FuenteArmas !important;
}
footer{
    background-color: #4f5a3b;
}
