<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
	
	<footer class="mt-3">
	        <div class="container-fluid text-bg-primary">
	            <div class="row mx-auto text-center">
	                <div class="col-12 col-lg-4 mt-4">
	                    <h2 class="text-warning text-center fuenteEspecial">TACTICAL ARMORY</h2>
	                    <h4 class="mb-3"><a href="#" class="text-white text-decoration-none">DIRECCION</a></h4>
	                    <h4 class="mb-3"><a href="#" class="text-white text-decoration-none">NUM TLF</a></h4>
	                </div>
	                <div class="col-12 col-lg-4 mt-4">
	                    <h2 class="text-warning text-center fuenteEspecial">INFORMACIÓN</h2>
	                    <h4 class="mb-3"><a href="#" class="text-white text-decoration-none">Aviso legal</a></h4>
	                    <h4 class="mb-3"><a href="#" class="text-white text-decoration-none">Sobre nosotros</a></h4>
	                    <h4 class="mb-3"><a href="#" class="text-white text-decoration-none">Términos y Condiciones</a></h4>
	                </div>
	                <div class="col-12 col-lg-4 mt-4">
	                    <h2 class="text-warning text-center fuenteEspecial">PRODUCTOS</h2>
	                    <h4 class="mb-3"><a href="#" class="text-white text-decoration-none">Envíos y Devoluciones</a></h4>
	                    <h4 class="mb-3"><a href="#" class="text-white text-decoration-none">Pago seguro</a></h4>
	                    <h4><a href="#" class="text-white text-decoration-none">Contacta con
	                        nosotros</a></h4>
	                </div>
	            </div>
	        </div>
	    </footer>
</html>